<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue example</title>
    <script type="text/javascript">
        function log() {
            console.log.apply(window, arguments);
        }
    </script>
</head>
<body>
    <div id="app">
        <input id="inp" type="text" v-model="name" placeholder="输入名字" value="test">
        <p>{{ name }}</p>
    </div>

    <div id="time">
        <!--{{ date | formatDate }}-->
    </div>

    <span id="html" v-html="button"></span>

    <div id="v-on">
        <p v-if="show" >TEXT</p>
        <!--<button v-on:click="handleClose">{{ text }}</button>-->
        <button @click="handleClose">{{ text }}</button>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.5.3/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                name: "init"
            }
        });

        var app2 = new Vue({
            el: "#time",
            data: {
                date: new Date(),
            },
            filters: {
                formatDate: function (value) {
                    log("value:", value);
                    var date = new Date(value);

                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    return `${minute}:${second}`
              }
            },
            mounted: function () {
                var _this = this;
                this.timer = setInterval(function () {
                    _this.date = new Date();
                }, 1000)
            },
            beforeDestroy: function () {
                clearInterval(this.timer);
            },
        });

        var app3 = new Vue({
            el: "#html",
            data: {
                button: "<button>TEST</button>"
            }
        })

        var app_v_on = new Vue({
            el: "#v-on",
            data: {
                text: "隐藏",
                show: true,
            },
            methods: {
                handleClose: function () {
                    // log("b show:", this.show);
                    this.show = !this.show;
                    // log("a show:", this.show);
                    this.text = this.show ? "隐藏" : "显示";
                }
            }

        })
    </script>
</body>
</html>